#location {
    margin: 0 auto;
    width: 100%;
}

.climate {
    width: 500px;
    margin: 0 auto;
}

.location {
    margin: 0 auto;
    color: #A80000;
    size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 4rem;
}

.container {
    display: flex;
    justify-content: center;
}

h1, .container {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

}

h2, .container {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 2rem;

}

.property {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    text-align: left;
}

.send_location {
    color: #2B2B2B;
    background-color: #DDDDDD;
    padding: 8px;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.property_value {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    text-align: left;
    padding-left: 20px;
}

table {
    width: 100%;
}

table, th {
    padding: 0.5em;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: left;
}

table, td {
    padding: 0.5em;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

@media only screen and ( max-width: 500px) {
    .climate {
        width: 100%;
    }

    #location {
        width: 90%;
        display: flex;
        justify-content: center;
    }
}

